.foto-upload {
  margin-bottom: 15px;
}

.foto-upload-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.foto-upload-input {
  display: block;
  margin-bottom: 10px;
}

.foto-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.foto-preview-item {
  flex: 1 0 calc(33.33% - 10px); 
  position: relative;
}

.foto-preview-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.remover-button {
  position: absolute;
  top: 5px;
  height: 50px;
  width: 50px; 
  right: 5px;
  background: rgba(124, 123, 123, 0.7);
  padding: 15px;
  border: 2.5px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  border-radius: 20%;
}

.remover-button:hover {
  background: rgba(255, 0, 0, 1);
}

.foto-ampliada {
  max-width: 800px; 
  max-height: 600px; 
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; 
}
